################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode/.vs/AdventOfCode/v16/Server/sqlite3
/AdventOfCode/.vs/AdventOfCode/v16
/AdventOfCode/bin
/AdventOfCode/obj